Repository Clubber2024/Clubber-Server, pull requests merged in 2024-07, with the labels that each got.

#158 refactor : 회원user관련 enum 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/auth/service/AuthService.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/AccountRole.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/AccountState.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/SnsType.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/User.java
  src/main/java/com/clubber/ClubberServer/domain/user/repository/UserRepository.java
Labels: 🔨 Refactor, Server

#160 refactor : 카카오 회원가입 toEntity 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/auth/service/AuthService.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/api/oauth/dto/KakaoUserInfoResponse.java
Labels: 🔨 Refactor, Server

#162 feat : s3 presigned url 적용
  build.gradle
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/image/dto/CreateImagePresignedUrlResponse.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/s3/ImageFileExtension.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/s3/S3Config.java
Labels: ✨ Feature, Server

#164 feat : Admin (동아리 관리자) entity 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/AccountRole.java
Labels: ✨ Feature, Server

#174 feat : 관리자 동아리 수정 api (#170)
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubInfo.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API, Server

#175 feat : 리뷰 한줄평 추가 및 API 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsReviewByStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsReviewApprovedStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/InvalidApprovedStatusException.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubInfo.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/ApprovedStatus.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
  src/main/java/com/clubber/ClubberServer/domain/review/exception/ReviewClubNotMatchException.java
  src/main/java/com/clubber/ClubberServer/domain/review/exception/ReviewErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewRepository.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, 🔨 Refactor, Server

#177 refactor: 컨벤션 적용 + build 기능 service dto로
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/PopularController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/CollegeSmallDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/DepartmentSmallDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/DivisionCenterDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByDivisionResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubInfoResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubIntoCardResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubPopularResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/HashtagClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/HashtagClubsDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/OneClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/OneClubInfoDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/PopularClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/SearchClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/SearchClubsDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/SimpleCenterDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
  src/main/java/com/clubber/ClubberServer/domain/notice/dto/GetNoticeResponse.java
  src/main/java/com/clubber/ClubberServer/domain/notice/dto/NoticesDto.java
  src/main/java/com/clubber/ClubberServer/domain/notice/repository/NoticeRepository.java
  src/main/java/com/clubber/ClubberServer/domain/notice/service/NoticeService.java
Labels: 🔨 Refactor, Server

#178 feat : 동아리 계정 인증 관련 api 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsPasswordRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsPasswordResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, Server

#180 refactor : 리뷰 작성 및 조회 한줄평 적용
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/ReviewKeyword.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ClubReviewsWithContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentRequest.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#182 bug: 관리자 개별 페이지 수정 api PR 재 upload (#181)
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubInfo.java
Labels: 🐞 BugFix, Server

#184 refactor : 내가 쓴 리뷰 api 구현
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/UserReviewResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/exception/ReviewErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/review/exception/UserReviewsNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
  src/main/java/com/clubber/ClubberServer/domain/user/service/UserService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API, Server

#186 refactor : 관리자 - 승인 상태에 따른 리뷰 작성일자 포함+ 최신 날짜 순으로 정렬
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsReviewByStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: 🔨 Refactor, Server

#188 feat: 관리자 마이 페이지 첫화면 api 구현 (#187)
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
Labels: ✨ Feature, 📬 API, Server

#192 refactor : 리뷰 반환 시 최신순으로 정렬 반환 구현 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/UserReviewResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/user/service/UserService.java
Labels: 🔨 Refactor, Server

#194 refactor : clubType enum 적용 (#190)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubType.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/UserFavoritesResponse.java
Labels: 🔨 Refactor, Server

#195 Feat : 193 feat 동아리 계정 리뷰 목록 조회
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsReviewByStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsReviewsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsPasswordRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsPasswordResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsReviewApprovedStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
Labels: ✨ Feature, Server

#199 refactor : 동아리 리뷰 관련 api url 분리 및 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
Labels: 🔨 Refactor, Server

#200 refactor : 관리자 리뷰 체크하여 여러개 한꺼번에 승인 미승인 처리
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsReviewApprovedStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsReviewStatusRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
Labels: 🔨 Refactor, Server

#201 refactor : presigned url 동아리 id 전달 로직 수정
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/image/dto/CreateImagePresignedUrlResponse.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
Labels: 🔨 Refactor, Server

#204 securityconfig 경로 설정 수정 추가
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#207 refactor : 불필요한 cors 허용 origin 삭제 (#143)
  src/main/java/com/clubber/ClubberServer/global/config/security/CorsConfig.java
Labels: 🔨 Refactor, Server

#213 refactor : 나의 즐겨찾기 최신순으로 수정 (#212)
  src/main/java/com/clubber/ClubberServer/domain/favorite/repository/FavoriteCustomRepositoryImpl.java
Labels: 🔨 Refactor, Server

#214 feat: 개별 공지사항 세부 조회 api 구현
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
  src/main/java/com/clubber/ClubberServer/domain/notice/exception/NoticeErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/notice/exception/NoticeNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/notice/service/NoticeService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/recruitController.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, 📬 API, Server

#224 bug : 배포 서버에서 cookie 적용 안되는 상황
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
Labels: 🐞 BugFix
