Repository Clubber2024/Clubber-Server, pull requests merged in 2024-09, with the labels that each got.

#311 Bug/#310 bug 리뷰 키워드는 리뷰의 승인 상태와 상관없이 반환되지 않는 문제
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#304 refactor : 검색시 center+small 다르게 나가도록 수정 (#303)
  .idea/misc.xml
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubType.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/dto/GetFavoriteDetailsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/UserFavoritesResponse.java
Labels: 🔨 Refactor, Server

#313 dev : idea 폴더 파일 gitignore 추가 (#312)
  .gitignore
  .idea/.gitignore
  .idea/deployment.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/Clubber-Server.main.iml
  .idea/vcs.xml
  .idea/webServers.xml
  src/main/resources/sql/data.sql
  src/test/java/com/clubber/ClubberServer/auth/AuthRepositoryTest.java
Labels: ⚙ Setting, Server

#314 refactor : refactor enum null처리
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/College.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Department.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Division.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Hashtag.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, Server

#317 refactor : enummappertype에 이미지 반환 메서드 추가
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Hashtag.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/RecruitType.java
  src/main/java/com/clubber/ClubberServer/global/enummapper/EnumMapperType.java
  src/main/java/com/clubber/ClubberServer/global/enummapper/EnumMapperVO.java
Labels: 🔨 Refactor, Server

#318 refactor : center,small,etc 한글로+순서 보장(#316)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubType.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, Server

#320 refactor : hashtag- 중앙동아리,소모임,그외 구분해서 나가는 것 수정(#319)
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, Server

#321 refactor : 동아리 리뷰 조회 no offset 방식 구현
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ClubReviewsWithContentDetailResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ClubReviewsWithContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ClubReviewsWithSliceContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
  src/main/java/com/clubber/ClubberServer/global/page/SliceResponse.java
  src/main/java/com/clubber/ClubberServer/global/page/SliceUtil.java
Labels: ✨ Feature, 🔨 Refactor, Server

#323 refactor : s3 presignedurl 이미지 처리 변경
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
Labels: 🔨 Refactor, Server

#326 feat : 500 에러 로깅
  src/main/java/com/clubber/ClubberServer/global/error/GlobalExceptionHandler.java
Labels: ⚙ Setting, Server

#331 refactor : 리뷰 validation 처리
  src/main/java/com/clubber/ClubberServer/domain/review/domain/ReviewKeyword.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentRequest.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#333 feat : faq 데이터 추가 및 수정
  src/main/java/com/clubber/ClubberServer/domain/faq/domain/Faq.java
Labels: ✨ Feature, Server

#334 feat : 정보제공 + 리뷰제공 동의 컬럼 추가 + 예외 처리 추가 (#295)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubNotAgreeToProvideInfoException.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubNotAgreeToProvideReviewException.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: ✨ Feature, Server

#335 refactor : 리뷰 키워드 이모티콘 추가 (#330)
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Keyword.java
Labels: 🔨 Refactor, Server

#337 refactor : 리뷰 키워드 반환 값 변경
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsReviewsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/ReviewKeyword.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ClubReviewsWithContentDetailResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/UserReviewResponse.java
Labels: 🔨 Refactor, Server

#339 refactor : 검증 함수 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateClubReviewsWithContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetClubReviewsKeywordStatsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetClubReviewsWithPageContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetClubReviewsWithSliceContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetUserReviewsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/GetUserFavoritesResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/GetUsersProfileResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/service/UserService.java
Labels: 🔨 Refactor, Server

#341 refactor : enummappertype 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/global/enummapper/EnumMapperTypeConverter.java
  src/main/java/com/clubber/ClubberServer/global/error/GlobalErrorCode.java
  src/main/java/com/clubber/ClubberServer/global/error/GlobalExceptionHandler.java
  src/main/java/com/clubber/ClubberServer/global/exception/EnumTypeNotValidException.java
Labels: 🔨 Refactor, Server

#344 refactor : 동아리 별 통계 API 리뷰 키워드 반환 타입 변경
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetClubReviewsKeywordStatsResponse.java
Labels: 🔨 Refactor, Server

#346 refactor : 페이징 처리 방식 변경 (no offset) 승인 대기 리뷰 조회 API
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminPendingReviewsWithSliceResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#347 fix : lastreviewid 필수로 받지 않게 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
Labels: 🐞 BugFix, Server

#354 refactor : 모집글, 동아리 정보 글자 수 수정
  build.gradle
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubInfo.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
Labels: 🔨 Refactor, Server

#355 refactor : 리뷰 빈 값 검증 시 stringutils 이용하여 검증
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
Labels: 🔨 Refactor, Server

#369 feat : prod.yml 수정 (#368)
  .github/workflows/ci-main.yml
Labels: 🌏 Deploy, Server

#371 Feat : dev에서 pull 받은거 빌드 안되어 배포되는 문제 해결 (#370)
  .github/workflows/ci-main.yml
Labels: 🌏 Deploy

#373 fix : docker-compose 파일 수정 (#372)
  docker-compose.yml
Labels: 🌏 Deploy

#374 fix : 주석 제거 (#372)
  docker-compose.yml
Labels: 🌏 Deploy

#375 fix : lastest제거 (#372)
  docker-compose.yml
Labels: 🌏 Deploy

#376 fix : cicd-main.yml원상복구 (#372)
  .github/workflows/ci-main.yml
Labels: 🌏 Deploy

#379 refactor : 이미지 서버 url 적용
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Hashtag.java
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
  src/main/java/com/clubber/ClubberServer/global/vo/ImageVO.java
Labels: 🔨 Refactor, Server

#381 feat : 동아리 리뷰 동의 여부 반환 api 구현
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetClubReviewAgreedStatusResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: ✨ Feature, Server

#388 refactor : imagevo 적용
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubIntoCardResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/dto/GetFavoriteDetailsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/GetUserFavoritesResponse.java
  src/main/java/com/clubber/ClubberServer/global/vo/ImageVO.java
Labels: 🔨 Refactor, Server

#389 운영서버에 ImageVO 적용
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubIntoCardResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/dto/GetFavoriteDetailsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/GetUserFavoritesResponse.java
  src/main/java/com/clubber/ClubberServer/global/vo/ImageVO.java
Labels: 🔨 Refactor, Server

#391 Bug/#390 카카오 로그인 redirect url 수정
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/global/config/swagger/SwaggerConfig.java
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
Labels: 🌏 Deploy, 🐞 BugFix

#394 refactor : /api prefix 전체 추가 (#393)
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/PopularController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/faq/controller/FaqController.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/controller/FavoriteController.java
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/adminRecruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/recruitController.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/KeywordController.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
Labels: 🔨 Refactor, Server

#396 refactor : api prefix 추가 운영 서버 반영
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/PopularController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/faq/controller/FaqController.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/controller/FavoriteController.java
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/adminRecruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/recruitController.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/KeywordController.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: 🔨 Refactor, Server

#398 refactor : cookie secure 옵션 적용 (#397)
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
Labels: 🔨 Refactor, Server

#399 cookie secure 옵션 배포서버에 적용
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
Labels: 🔨 Refactor, Server
