Repository Clubber2024/Clubber-Server, pull requests merged in 2024-05, with the labels that each got.

#75 feat : swagger 설정
  build.gradle
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/PopularSortController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/main/java/com/clubber/ClubberServer/global/config/swagger/DisableSwaggerSecurity.java
  src/main/java/com/clubber/ClubberServer/global/config/swagger/SwaggerConfig.java
Labels: ✨ Feature, 📬 API

#76 Feat : Auth, Review, Favorite, User API Swagger 설정
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/controller/FavoriteController.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ReviewRequest.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
Labels: ✨ Feature, 📬 API

#78 feat : filter에서 발생한 예외 처리
  src/main/java/com/clubber/ClubberServer/domain/user/exception/UserErrorCode.java
  src/main/java/com/clubber/ClubberServer/global/config/security/AccessDeniedFilter.java
  src/main/java/com/clubber/ClubberServer/global/config/security/FilterConfig.java
  src/main/java/com/clubber/ClubberServer/global/config/security/JwtExceptionFilter.java
Labels: 🔨 Refactor, 📬 API

#80 feat : spring mvc 에러 처리
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ReviewRequest.java
  src/main/java/com/clubber/ClubberServer/global/dto/ErrorResponse.java
  src/main/java/com/clubber/ClubberServer/global/error/GlobalExceptionHandler.java
Labels: ✨ Feature, Server

#82 feat : 리뷰 작성 시 유효성 검사
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ReviewRequest.java
Labels: ✨ Feature, Server

#84 refactor : 존재 하지 않는 동아리 예외 적용
  src/main/java/com/clubber/ClubberServer/domain/favorite/service/FavoriteService.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#86 refactor: club 필드에 imageurl 추가 (#85)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
Labels: 🔨 Refactor, Server

#88 refactor : imageurl 관련 api 수정
  .idea/misc.xml
  src/main/java/com/clubber/ClubberServer/domain/club/dto/OneClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/SimpleCenterDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, 📬 API, Server

#91 feat: swagger 설정
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/PopularSortController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
Labels: 🔨 Refactor, 📬 API, Server

#92 feat : JWT 응답 cookie 설정
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
  src/main/java/com/clubber/ClubberServer/global/config/security/JwtTokenFilter.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API, Server

#93 feat : 토큰 재발급 시 Cookie 적용
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API

#95 refactor : swagger 설정
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
Labels: 🔨 Refactor, Server

#94 feat : Cookie 인증 추가
  src/main/java/com/clubber/ClubberServer/global/config/swagger/SwaggerConfig.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API, Server

#96 fix : 토큰 재발급, 로그인 회원가입 swagger 인증 풀기 (#74)
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
Labels: 🔨 Refactor, Server

#98 refactor : notice url 변경
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: 🔨 Refactor, 📬 API, Server

#100 refactor : jquery수정 (#99)
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
Labels: 🔨 Refactor, Server

#101 refactor: error로 인한 주석처리 (#99)
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
Labels: 🔨 Refactor, Server

#103 refactor : 쿼리 수정
  .idea/misc.xml
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubIdNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/DepartmentNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/DivisionNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/HashtagNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, Server

#106 feat : spring security 403 에러 핸들링
  src/main/java/com/clubber/ClubberServer/global/config/security/CustomAuthenticationEntryPoint.java
  src/main/java/com/clubber/ClubberServer/global/config/security/FilterConfig.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/main/java/com/clubber/ClubberServer/global/error/GlobalErrorCode.java
Labels: ✨ Feature, Server

#108 bug : same-site, secure 주석 처리
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
Labels: 🐞 BugFix

#111 fix : 수정된 클래스명 삭제 (#109)
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
Labels: 🔨 Refactor, Server

#114 refactor : 문자열 검색 api
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/SearchClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/SearchClubsDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, 📬 API, Server

#116 refactor : 문자열 검색 api - upper 적용 + orderby 단순화
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, 📬 API, Server

#120 refactor: hashtag api 반환 json 수정 (#112)
  src/main/java/com/clubber/ClubberServer/domain/club/dto/HashtagClubDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, 📬 API, Server

#121 feat: totalview 증가 로직 구현
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubInfo.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: ✨ Feature, Server

#123 feat : totalview증가 로직 구현
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, Server
