Repository Clubber2024/Clubber-Server, pull requests merged in 2024-10, with the labels that each got.

#403 fix : Origin header대신 referer 헤더 사용하여 분기 (#402)
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#404 fix : redirect uri 수정 (#402)
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
Labels: 🐞 BugFix

#405 카카오톡 로그인 redirect url 분기 문제 해결 운영 서버 반영
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
Labels: 🐞 BugFix

#408 refactor : 카카오 redirect url 개발 서버 서브 도메일 적용 (#402)
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
Labels: 🔨 Refactor, Server

#409 fix : 분기 기준 변경 (#402)
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#416 fix : redirect url 수정 (#412)
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
Labels: 🐞 BugFix

#420 refactor : 기존 배포 스크립트 삭제
  .github/workflows/ci-cd-dev.yml
  .github/workflows/ci-cd-prod.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: 🌏 Deploy

#421 Refactor/#412 refactor 개발 서버 배포 방식 통일 : 기타 수정
  .github/workflows/ci-cd-dev.yml
  docker-compose.yml
Labels: 🌏 Deploy

#422 fix : 오타 수정 (#412)
  .github/workflows/ci-cd-dev.yml
Labels: 🌏 Deploy

#429 Bug/#428 개발 서버 이미지 url 오류 수정
  src/main/java/com/clubber/ClubberServer/domain/image/dto/CreateImagePresignedUrlResponse.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
Labels: 🐞 BugFix, 🧩 dev

#432 fix : 개별 공지사항 url - v1 중복 제거 (#430)
  src/main/java/com/clubber/ClubberServer/domain/notice/controller/NoticeController.java
Labels: 🔨 Refactor, 🧩 dev

#424 refactor : etc enum ETC 수정 (#423)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Hashtag.java
Labels: 🔨 Refactor, 🧩 dev

#427 refactor : 모집글 title length 지정 (#418)
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
Labels: 🔨 Refactor, 🧩 dev

#435 refactor : 모집글, 공지사항 ImageVO 적용 (#431)
  src/main/java/com/clubber/ClubberServer/domain/notice/domain/Notice.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/RecruitImage.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/DeleteRecruitByIdResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🔨 Refactor, 🧩 dev

#436 fix : 개별 공지사항 조회 시 imagevo 누락 추가 (#431)
  src/main/java/com/clubber/ClubberServer/domain/notice/dto/GetNoticeResponse.java
Labels: 🐞 BugFix, Server

#439 refactor : hashtag 목록 ETC 포함 전체 반환 (#438)
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: 🔨 Refactor, Server, 🧩 dev

#440 fix : 홍보 게시판 개별 모집글 조회 url - v1 중복 제거 (#437)
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/recruitController.java
Labels: 🔨 Refactor, 🧩 dev

#442 Feat : 관리자 마이페이지 개별 모집글 조회 api 구현 (#434)
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/adminRecruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitDeleteUnauthorized.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: ✨ Feature, 🧩 dev

#443 Refactor/#441 refactor 관리자 이전 비밀번호로 변경 시 예외 발생
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminEqualsPreviousPasswordExcpetion.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
Labels: ✨ Feature, Server, 🧩 dev

#445 Refactor/#444 refactor 이미지 관련 변수명 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/image/dto/CreateImagePresignedUrlResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/PostRecruitRequest.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🔨 Refactor, Server

#447 refactor : imageUrl, imageUrls로 변경 (#446)
  src/main/java/com/clubber/ClubberServer/domain/notice/domain/Notice.java
  src/main/java/com/clubber/ClubberServer/domain/notice/dto/GetNoticeResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/DeleteRecruitByIdResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/PostRecruitResponse.java
Labels: 🔨 Refactor, 🧩 dev

#448 refactor : 모집글 post api 수정 (#446)
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/PostRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🔨 Refactor, 🧩 dev

#450 refactor : swagger config url 설정 주입 방식 면경 (#449)
  src/main/java/com/clubber/ClubberServer/global/config/swagger/SwaggerConfig.java
Labels: 🌏 Deploy, 🔨 Refactor, Server, 🧩 dev

#451 refactor : 기존 swagger 설정 주석 삭제 (#449)
  src/main/java/com/clubber/ClubberServer/global/config/swagger/SwaggerConfig.java
Labels: 🔨 Refactor, Server, 🧩 dev

#453 fix : JPG 요청값 jpeg로 수정 (#452)
  src/main/java/com/clubber/ClubberServer/global/infrastructure/s3/ImageFileExtension.java
Labels: 🐞 BugFix, 🧩 dev

#455 refactor : 개발 서버 이미지 분리 (#454)
  .github/workflows/ci-cd-dev.yml
Labels: 🌏 Deploy, 🔨 Refactor

#456 refactor : docker compose 수정 (#454)
  docker-compose.yml
Labels: 🌏 Deploy, 🧩 dev

#457 통합 스크립트 작성 시도
  .github/workflows/ci-cd-dev.yml
  .github/workflows/ci-cd-prod.yml
  .github/workflows/ci-cd.yml
Labels: Server, 🧩 dev

#458 fix : 스크립트 수정 (#454)
  .github/workflows/ci-cd.yml
Labels: 🌏 Deploy

#459 refactor : Dockerfile 환경별 분리 적용 (#454)
  .github/workflows/ci-cd.yml
  Dockerfile.dev
  Dockerfile.prod
Labels: 🌏 Deploy, 🧩 dev

#462 refactor : 기존 스크립트 삭제 (#454)
  .github/workflows/ci-cd-dev.yml
  .github/workflows/ci-cd-prod.yml
  docker-compose.yml
Labels: 🌏 Deploy, 🧩 dev

#463 기존 스크립트 삭제
  .github/workflows/ci-cd-dev.yml
  .github/workflows/ci-cd-prod.yml
  docker-compose.yml
Labels: 🌏 Deploy, ⭐️ main

#465 feat : log volume 설정 추가 (#464)
  docker-compose-dev.yml
Labels: 🔨 Refactor, Server, 🧩 dev

#466 feat : 운영 서버 로그 볼륨 설정 (#464)
  docker-compose-prod.yml
Labels: 🔨 Refactor, ⭐️ main

#468 refactor : 3000포트 설정 변경 (#467)
  docker-compose-dev.yml
Labels: 🌏 Deploy, 🧩 dev

#469 Refactor/#467 refactor 외부 포트 접속 설정 리팩토링
  docker-compose-dev.yml
  docker-compose-prod.yml
Labels: 🌏 Deploy, 📬 API, ⭐️ main, 🧩 dev

#470 Refactor/#467 refactor 외부 포트 접속 설정 리팩토링
  docker-compose-dev.yml
  docker-compose-prod.yml
Labels: 🌏 Deploy, Server, 🧩 dev

#471 refactor : 운영 서버 3000포트 EXPOSE로 변경 (#467)
  docker-compose-prod.yml
Labels: 🌏 Deploy, ⭐️ main

#472 로그 볼륨 설정 및 도커 포트 설정 변경 운영 서버 반영
  docker-compose-dev.yml
  docker-compose-prod.yml
Labels: 🌏 Deploy, ⭐️ main

#475 refactor : 운영 환경에 따른 쿠키 설정 변경
  src/main/java/com/clubber/ClubberServer/ClubberServerApplication.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
  src/main/java/com/clubber/ClubberServer/global/helper/SpringEnvironmentHelper.java
Labels: 🔨 Refactor, Server, ⭐️ main

#477 Refactor/#476 refactor 기존 배포 방식 스크립트 삭제
  appspec.yml
  scripts/deploy.sh
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtTokenProvider.java
Labels: 🌏 Deploy, 🧩 dev

#478 test : admin 테스트 코드
  build.gradle
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminsLoginRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsPasswordRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsReviewStatusRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/repository/FavoriteRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewRepository.java
  src/test/java/com/clubber/ClubberServer/admin/service/AdminReviewServiceTest.java
  src/test/java/com/clubber/ClubberServer/admin/service/AdminServiceTest.java
  src/test/java/com/clubber/ClubberServer/auth/AuthRepositoryTest.java
  src/test/java/com/clubber/ClubberServer/util/DatabaseCleaner.java
  src/test/java/com/clubber/ClubberServer/util/ServiceTest.java
  src/test/java/com/clubber/ClubberServer/util/WithMockCustomUser.java
  src/test/java/com/clubber/ClubberServer/util/WithMockCustomUserSecurityContextFactory.java
  src/test/java/com/clubber/ClubberServer/util/fixture/AdminFixture.java
  src/test/java/com/clubber/ClubberServer/util/fixture/AdminReviewFixture.java
Labels: ✅ Test

#480 test : 리뷰 작성 테스트 코드
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentRequest.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/User.java
  src/test/java/com/clubber/ClubberServer/review/controller/ReviewControllerTest.java
  src/test/java/com/clubber/ClubberServer/review/service/ReviewServiceTest.java
  src/test/java/com/clubber/ClubberServer/util/DatabaseCleaner.java
  src/test/java/com/clubber/ClubberServer/util/WithMockCustomUser.java
  src/test/java/com/clubber/ClubberServer/util/fixture/ReviewFixture.java
Labels: ✅ Test

#483 Bug/#482 bug 동아리 정보 수정 api 이미지 수정 안하고 요청 시 예외처리 안되는 문제
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/test/java/com/clubber/ClubberServer/admin/service/AdminServiceTest.java
  src/test/java/com/clubber/ClubberServer/util/DatabaseCleaner.java
  src/test/java/com/clubber/ClubberServer/util/fixture/AdminFixture.java
Labels: 🐞 BugFix, ⭐️ main, 🧩 dev
