Repository Clubber2024/Clubber-Server, pull requests merged in 2024-11, with the labels that each got.

#485 feat : 이미지 키 파싱 유틸 기능 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/global/image/ImageUtil.java
  src/test/java/com/clubber/ClubberServer/admin/service/AdminServiceTest.java
  src/test/java/com/clubber/ClubberServer/global/image/ImageUtilTest.java
Labels: 🔨 Refactor, ✅ Test, Server

#490 Refactor/#488 feat 동아리 소개 글자수 validation 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/test/java/com/clubber/ClubberServer/admin/controller/AdminControllerTest.java
  src/test/java/com/clubber/ClubberServer/util/fixture/AdminFixture.java
Labels: 🔨 Refactor, ✅ Test, Server

#492 refactor : 리뷰 승인 / 거절 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsReviewStatusRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
  src/test/java/com/clubber/ClubberServer/admin/controller/AdminReviewControllerTest.java
  src/test/java/com/clubber/ClubberServer/admin/service/AdminReviewServiceTest.java
  src/test/java/com/clubber/ClubberServer/util/fixture/AdminReviewFixture.java
Labels: 🔨 Refactor, Server

#493 feat : 관리자 모집글 수정 api 구현
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/adminRecruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/RecruitImage.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/UpdateRecruitRequest.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/UpdateRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitImageRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: ✨ Feature, 🔨 Refactor, 🧩 dev

#501 refactor : 동아리 리뷰 통계 서비스 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/review/dto/GetClubReviewsKeywordStatsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/KeywordStat.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/KeywordStats.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewKeywordCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#503 feat : enum validator 구현
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Keyword.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentRequest.java
  src/main/java/com/clubber/ClubberServer/global/validator/Enum.java
  src/main/java/com/clubber/ClubberServer/global/validator/EnumValidator.java
Labels: ✨ Feature, Server

#505 feat : 리뷰 키워드 unique validator 구현
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentRequest.java
  src/main/java/com/clubber/ClubberServer/global/validator/unique/Unique.java
  src/main/java/com/clubber/ClubberServer/global/validator/unique/UniqueConstraintValidator.java
Labels: ✨ Feature, Server

#500 refactor : 동아리 모집글 수정 api 리펙토링 (#498)
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/adminRecruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/recruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneRecruitInListResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/UpdateRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitImageRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🔨 Refactor, 📬 API, 🧩 dev

#507 refactor : 동아리 관리자 회원 탈퇴 시 모집글 삭제 로직 추가
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
  src/test/java/com/clubber/ClubberServer/admin/service/AdminServiceTest.java
  src/test/java/com/clubber/ClubberServer/util/DatabaseCleaner.java
  src/test/java/com/clubber/ClubberServer/util/fixture/ReviewFixture.java
Labels: 🔨 Refactor, ✅ Test, Server

#509 refactor : 카카오 회원가입/로그인, 회원탈퇴 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/auth/component/UserRegister.java
  src/main/java/com/clubber/ClubberServer/domain/auth/component/UserWithdraw.java
  src/main/java/com/clubber/ClubberServer/domain/auth/controller/AuthController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/service/AuthService.java
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtStatic.java
Labels: 🔨 Refactor, Server

#510 fix : 회원 탈퇴 시 401 에러
  src/main/java/com/clubber/ClubberServer/domain/auth/component/UserWithdraw.java
  src/main/java/com/clubber/ClubberServer/domain/auth/service/AuthService.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/User.java
Labels: 🐞 BugFix
