Repository Clubber2024/Clubber-Server, pull requests merged in 2024-08, with the labels that each got.

#227 feat : 메인 페이지 동아리 계정 정보 반환 api
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsProfileResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
Labels: ✨ Feature, Server

#229 feat : faq 자주 하는 질문 api
  src/main/java/com/clubber/ClubberServer/domain/faq/controller/FaqController.java
  src/main/java/com/clubber/ClubberServer/domain/faq/domain/Faq.java
  src/main/java/com/clubber/ClubberServer/domain/faq/dto/GetFaqsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/faq/service/FaqService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, Server

#230 feat : hashtag keyword 목록 반환 api
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/global/enummapper/EnumConfig.java
Labels: ✨ Feature, Server

#231 feat : keyword 목록 반환 api
  src/main/java/com/clubber/ClubberServer/domain/review/controller/KeywordController.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, Server

#233 refactor : set - cookie 헤더 allow-access-expose-headers 해제 테스트 (#107)
  src/main/java/com/clubber/ClubberServer/global/config/security/CorsConfig.java
Labels: 🔨 Refactor

#235 refactor : 즐겨찾기 soft delete 방식 변경
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/FavoriteStatus.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/repository/FavoriteCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/repository/FavoriteRepository.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/service/FavoriteService.java
Labels: 🔨 Refactor, Server

#236 fix : 테이블 명 오류 수정 (#234)
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
Labels: 🔨 Refactor, Server

#238 refactor : review - reviewkeyword cascade 적용
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/CreateReviewClubWithContentRequest.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#241 refactor : 일반 회원 탈퇴 시 즐겨찾기 삭제
  src/main/java/com/clubber/ClubberServer/domain/auth/service/AuthService.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/User.java
Labels: 🔨 Refactor, Server

#243 feat : 관리자 회원 탈퇴 api 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminAlreadyDeletedException.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubAlreadyDeletedException.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/domain/faq/controller/FaqController.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/service/FavoriteService.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: ✨ Feature, Server

#197 feat : recruit 도메인 설계 (#183)
  .idea/deployment.xml
  .idea/webServers.xml
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/adminRecruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/recruitController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/RecruitImage.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/RecruitType.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/DeleteRecruitByIdResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetAllRecruitsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetRecruitsByClubIdResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/PostRecruitRequest.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/PostRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitUnauthorized.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitImageRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ⚙ Setting, Server

#245 feat : 모집글 등록 이미지 presigned url api 구현
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/image/dto/CreateRecruitsImagePresigneUrlRequest.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
Labels: ✨ Feature, Server

#248 feat : 나의 즐겨찾기 pagination
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/dto/GetFavoriteDetailsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/repository/FavoriteCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/repository/FavoriteCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
  src/main/java/com/clubber/ClubberServer/domain/user/service/UserService.java
  src/main/java/com/clubber/ClubberServer/global/page/PageResponse.java
Labels: ✨ Feature, Server

#249 fix : clubtype 추가 (#232)
  src/main/java/com/clubber/ClubberServer/domain/favorite/dto/GetFavoriteDetailsResponse.java
Labels: 🐞 BugFix

#252 feat : 나의 즐겨찾기 Pageable @ParameterObject 추가
  src/main/java/com/clubber/ClubberServer/domain/user/controller/UserController.java
Labels: Server

#253 refactor : 페이징 처리 시작 페이지 1부터 적용
  src/main/java/com/clubber/ClubberServer/global/page/PageResponse.java
Labels: 🔨 Refactor, Server

#251 fix : GetNoticeResponse에 totalView추가 (#247)
  src/main/java/com/clubber/ClubberServer/domain/notice/domain/Notice.java
  src/main/java/com/clubber/ClubberServer/domain/notice/dto/GetNoticeResponse.java
  src/main/java/com/clubber/ClubberServer/domain/notice/service/NoticeService.java
Labels: 🔨 Refactor

#255 fix : url 수정 적용 (#244)
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: 🐞 BugFix

#256 fix : url 수정 (#244)
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: 🐞 BugFix

#259 feat : 동아리 계정 쿠키 적용
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/auth/service/helper/CookieHelper.java
Labels: ✨ Feature, Server

#262 feat : logback 기본 설정
  src/main/resources/logback-spring.xml
Labels: ⚙ Setting, ✨ Feature

#263 fix : logback-spring.xml 적용으로 인한 스크립트 수정
  .github/workflows/deploy.yml
Labels: 🐞 BugFix

#264 refactor : log 파일 경로 변수 적용하여 수정
  src/main/resources/logback-spring.xml
Labels: ⚙ Setting, 🔨 Refactor

#274 feat : faq 예시 데이터 추가 (#228)
  src/main/java/com/clubber/ClubberServer/domain/faq/domain/Faq.java
Labels: Server

#276 refactor : fetch join 제거 & batchsize 추가 [모집글api] (#275)
  .idea/misc.xml
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
Labels: 🐞 BugFix, Server

#283 refactor : securityconfig filter 구성 수정
  src/main/java/com/clubber/ClubberServer/global/config/security/FilterConfig.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/main/java/com/clubber/ClubberServer/global/error/GlobalErrorCode.java
  src/main/java/com/clubber/ClubberServer/global/error/GlobalExceptionHandler.java
Labels: 🔨 Refactor, Server

#287 refactor : 동아리 별 리뷰 paging 처리
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsReviewsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminReviewService.java
  src/main/java/com/clubber/ClubberServer/domain/review/controller/ReviewController.java
  src/main/java/com/clubber/ClubberServer/domain/review/dto/ClubReviewsWithContentResponse.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/review/repository/ReviewCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/review/service/ReviewService.java
Labels: 🔨 Refactor, Server

#288 refactor : 동아리 별 리뷰 paging 처리 index 적용
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
Labels: 🔨 Refactor, Server

#290 feat : Gradle Caching 스크립트 추가 (#289)
  .github/workflows/ci-main.yml
  .github/workflows/deploy.yml
Labels: 🌏 Deploy

#292 refactor : increaseTotalview메서드 도메인에 정의 (#291)
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🔨 Refactor, Server

#294 refactor : fetch join 적용 (#293)
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
Labels: 🔨 Refactor, Server

#296 feat : 관리자 회원 탈퇴 시 관련 동아리 리뷰, 즐겨찾기 비활성화
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminService.java
  src/main/java/com/clubber/ClubberServer/domain/auth/service/AuthService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/service/FavoriteService.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/ApprovedStatus.java
  src/main/java/com/clubber/ClubberServer/domain/review/domain/Review.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/User.java
Labels: ✨ Feature, 🔨 Refactor, Server

#298 feat : Hashtag 항목 추가 및 수정 (#225)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Hashtag.java
Labels: ✨ Feature, 🔨 Refactor

#299 refactor : 해시태그 목록 수정 및 추가 (#225)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Hashtag.java
Labels: 🔨 Refactor, Server

#302 feat : [Feat] Club Entity Enum 컬럼 항목들 적용 (#297)
  .idea/misc.xml
  .idea/webServers.xml
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/College.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Department.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Division.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/CollegeResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/DepartmentSmallDto.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByDivisionResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/exception/ClubErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
  src/main/java/com/clubber/ClubberServer/global/enummapper/EnumConfig.java
Labels: ✨ Feature, 🔨 Refactor, Server

#308 fix : Clubtype 반환 시 title 반환하게 수정 (#306)
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubByHashTagResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubSearchResponse.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/dto/GetFavoriteDetailsResponse.java
  src/main/java/com/clubber/ClubberServer/domain/user/dto/UserFavoritesResponse.java
Labels: 🐞 BugFix, 🔨 Refactor
