Repository Clubber2024/Clubber-Server, pull requests merged in 2025-03, with the labels that each got.

#729 refactor : 공통 동아리 관리자 계정 회원가입 및 인증 api 구현 (#726)
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminEmailAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/PendingAdminInfo.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminAuthResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignUpRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignUpResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminAuthResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminVerifyEmailAuthRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminAlreadyEmailVerifiedException.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/admin/facade/AdminEmailAuthFacade.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/PendingAdminInfoRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminEmailAuthService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/validator/AdminValidator.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/ClubType.java
  src/main/java/com/clubber/ClubberServer/domain/owner/domain/Owner.java
  src/main/java/com/clubber/ClubberServer/domain/user/domain/AccountRole.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/main/java/com/clubber/ClubberServer/global/event/exceptionalarm/ExceptionDiscordAlarmEventHandler.java
  src/main/java/com/clubber/ClubberServer/global/event/signup/SignUpAlarmEventHandler.java
  src/main/java/com/clubber/ClubberServer/global/event/signup/SignUpAlarmEventPublisher.java
  src/main/java/com/clubber/ClubberServer/global/event/signup/signUpAlarmEvent.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/discord/client/DiscordClient.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/discord/dto/DiscordMessage.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/discord/message/DiscordMessageFactory.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/exception/dto/discord/DiscordMessage.java
  src/main/java/com/clubber/ClubberServer/global/jwt/JwtTokenProvider.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/ServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/service/AdminEmailAuthServiceTest.java
Labels: 🔨 Refactor, ✅ Test, Server

#734 feat : 비밀번호 찾기 api 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminEmailAuthController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminEmailAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminPasswordFindAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminSignupAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminAuthResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminPasswordFindAuthVerifyRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignupAuthVerifyRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/facade/AdminEmailAuthFacade.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminEmailAuthRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminPasswordFindAuthRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminSignupAuthRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminEmailAuthService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/validator/AdminValidator.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/main/java/com/clubber/ClubberServer/global/util/RandomAuthCodeUtil.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAuthServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminEmailAuthServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/facade/AdminEmailAuthFacadeTest.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/service/AdminEmailAuthServiceTest.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/validator/AdminValidatorTest.java
Labels: ✨ Feature, 🔨 Refactor, Server

#738 refactor : 관리자 비밀번호 변경 api 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminsPasswordRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/admin/exception/AdminInvalidCurrentPasswordException.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAuthService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/validator/AdminValidator.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/validator/AdminValidatorTest.java
Labels: 🔨 Refactor, Server

#741 refactor : 기타 연락수단 포함 관리자 api 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Contact.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/PendingAdminInfo.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignUpRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignUpResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminsProfileResponse.java
  src/main/java/com/clubber/ClubberServer/global/event/signup/SignUpAlarmEventHandler.java
  src/main/java/com/clubber/ClubberServer/global/event/signup/SignUpAlarmEventPublisher.java
  src/main/java/com/clubber/ClubberServer/global/event/signup/signUpAlarmEvent.java
Labels: ✨ Feature, 🔨 Refactor, Server

#744 docs : 추가 운영 인프라 블로그 글
  Readme.md
Labels: 📃 Docs

#746 feat : 동아리 아이디 중복 확인 API 구현
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/GetAdminUsernameCheckDuplicateResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAccountServiceTest.java
Labels: ✨ Feature, ✅ Test, Server

#748 feat : 동아리 관리자 회원 가입 시 증빙 이미지 presigned url 발급 API (#747)
  src/main/java/com/clubber/ClubberServer/domain/image/controller/ImageController.java
  src/main/java/com/clubber/ClubberServer/domain/image/service/S3UploadPresignedService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, Server

#751 feat : 회원가입시 동아리명 검색 api 구현 (#750)
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsSearchForSignUpResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubRepository.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: ✨ Feature

#755 feat : 비밀번호 찾기 후 변경 api
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminEmailAuthController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminPasswordFindAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminResetPasswordRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminEmailAuthService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, 🔨 Refactor, Server

#757 756 : refactor 이메일 전송 비동기 처리
  src/main/java/com/clubber/ClubberServer/global/config/async/AsyncConfig.java
  src/main/java/com/clubber/ClubberServer/global/event/exceptionalarm/async/AsyncExceptionAlaramEvent.java
  src/main/java/com/clubber/ClubberServer/global/event/exceptionalarm/async/AsyncExceptionAlaramHandler.java
  src/main/java/com/clubber/ClubberServer/global/event/exceptionalarm/async/AsyncExceptionAlarmPublisher.java
  src/main/java/com/clubber/ClubberServer/global/exception/GlobalErrorCode.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/mail/MailService.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/mail/exception/MailNotSentException.java
Labels: 🔨 Refactor, Server

#761 refactor : authCode 포함 Request 회원가입시 검증 추가 (#760)
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminSignupAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignUpRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminEmailAuthService.java
Labels: 🔨 Refactor, Server

#766 test : 테스트 코드 given fixutre 셋업 개선
  build.gradle
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Contact.java
  src/main/java/com/clubber/ClubberServer/domain/club/repository/ClubInfoRepository.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAuthServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminClubServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminEmailAuthServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/review/service/ReviewServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminEmailAuthFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/ClubFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/FixtureCommon.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/ReviewFixture.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/facade/AdminEmailAuthFacadeTest.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/service/AdminAccountServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#768 refactor : FE 이미지 명 변경 반영 (#767)
  .github/workflows/ci-cd.yml
  docker-compose-dev.yml
Labels: 🌏 Deploy

#770 test : favorite 테스트 코드 작성
  src/main/java/com/clubber/ClubberServer/domain/favorite/domain/Favorite.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/service/FavoriteService.java
  src/main/java/com/clubber/ClubberServer/domain/favorite/validator/FavoriteValidator.java
  src/test/java/com/clubber/ClubberServer/integration/domain/favorite/service/FavoriteServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/domain/user/service/UserServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/ClubFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/FavoriteFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/UserFixture.java
  src/test/java/com/clubber/ClubberServer/unit/domain/favorite/domain/FavoriteDomainTest.java
  src/test/java/com/clubber/ClubberServer/unit/domain/favorite/validator/FavoriteValidatorTest.java
Labels: ✅ Test

#774 feat : clubtype목록 반환 api 구현 + 동아리명 검색 api 수정 (#773)
  src/main/java/com/clubber/ClubberServer/domain/club/controller/ClubController.java
  src/main/java/com/clubber/ClubberServer/domain/club/controller/SearchController.java
  src/main/java/com/clubber/ClubberServer/domain/club/dto/GetClubsSearchForSignUpResponse.java
  src/main/java/com/clubber/ClubberServer/domain/club/service/ClubService.java
Labels: ✨ Feature, 🔨 Refactor

#776 feat : 연락수단 변경 API
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Contact.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminContactRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminContactResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/test/java/com/clubber/ClubberServer/integration/domain/admin/service/AdminAccountServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
Labels: ✨ Feature, Server

#777 fix : 마이페이지 변경 api 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/controller/AdminEmailAuthController.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/AdminUpdateEmailAuth.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminUpdateEmailAuthRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminEmailRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminEmailResponse.java
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateAdminUpdateEmailAuthVerifyRequest.java
  src/main/java/com/clubber/ClubberServer/domain/admin/facade/AdminEmailAuthFacade.java
  src/main/java/com/clubber/ClubberServer/domain/admin/repository/AdminUpdateEmailAuthRepository.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminEmailAuthService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
  src/main/java/com/clubber/ClubberServer/global/infrastructure/outer/mail/MailService.java
  src/test/java/com/clubber/ClubberServer/unit/domain/admin/facade/AdminEmailAuthFacadeTest.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#778 docs : 블로그 글 추가 (#743)
  Readme.md
Labels: 📃 Docs
