Repository Clubber2024/Clubber-Server, pull requests merged in 2025-07, with the labels that each got.

#827 feat : 캘린더 entity implement 구현
  src/main/java/com/clubber/ClubberServer/domain/calender/dto/CreateCalenderRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calender/dto/UpdateCalenderRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calender/entity/Calender.java
  src/main/java/com/clubber/ClubberServer/domain/calender/entity/CalenderStatus.java
  src/main/java/com/clubber/ClubberServer/domain/calender/exception/CalenderErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/calender/exception/CalenderNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/calender/implement/CalenderAppender.java
  src/main/java/com/clubber/ClubberServer/domain/calender/implement/CalenderReader.java
  src/main/java/com/clubber/ClubberServer/domain/calender/repository/CalenderRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calender/service/CalenderService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/RecruitType.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/implement/RecruitAppender.java
Labels: ✨ Feature, Server

#830 Feat/#829 feat 미연동 캘린더 api 구현
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateLinkedCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/UpdateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/entity/Calendar.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/entity/CalendarStatus.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/exception/CalendarErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/exception/CalendarNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarAppender.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
  src/main/java/com/clubber/ClubberServer/domain/calender/dto/CreateCalenderRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calender/dto/UpdateCalenderRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calender/exception/CalenderNotFoundException.java
  src/main/java/com/clubber/ClubberServer/domain/calender/implement/CalenderAppender.java
  src/main/java/com/clubber/ClubberServer/domain/calender/implement/CalenderReader.java
  src/main/java/com/clubber/ClubberServer/domain/calender/repository/CalenderRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calender/service/CalenderService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature, Server

#831 feat : 연동 캘린더 저장 수정 사항 반영
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateLinkedCalenderResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
Labels: 🔨 Refactor

#835 feat : 관리자 페이지 캘린더 조회 api 구현
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/entity/Calendar.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/AdminCalendarService.java
  src/main/java/com/clubber/ClubberServer/global/config/security/SecurityConfig.java
Labels: ✨ Feature

#844 feat : 모집글 삭제시 연동된 캘린더도 삭제되도록 수정 (#843)
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitLinkedCalendarService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: ✨ Feature, 🧩 dev

#847 feat : issue template 수정 및 추가 (#846)
  .github/ISSUE_TEMPLATE/bug-.md
  .github/ISSUE_TEMPLATE/bugfix-.md
  .github/ISSUE_TEMPLATE/chore-.md
  .github/ISSUE_TEMPLATE/docs-.md
  .github/ISSUE_TEMPLATE/feature-.md
  .github/ISSUE_TEMPLATE/refactor-.md
  .github/ISSUE_TEMPLATE/test-.md
Labels: ✨ Feature

#856 refactor : 캘린더 api 기타 수정
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarDuplicateRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarDuplicateResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/UpdateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/entity/Calendar.java
Labels: 🔨 Refactor, Server

#857 test : recruit 테이블 관련 테스트코드 데이터 수정
  src/test/java/com/clubber/ClubberServer/integration/domain/recruit/service/RecruitServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/DatabaseCleaner.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/RecruitFixture.java
Labels: 🔨 Refactor, ✅ Test

#862 test : 캘린더 중복 조회 통합테스트
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarDuplicateResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarAdminService.java
  src/test/java/com/clubber/ClubberServer/integration/domain/calendar/service/CalendarAdminServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/CalendarFixture.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#863 test : 모집글 저장 이후 연동 캘린더 저장 통합 테스트 코드
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitLinkedCalendarService.java
  src/test/java/com/clubber/ClubberServer/integration/domain/recruit/service/RecruitLinkedCalendarServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/ClubFixture.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/RecruitFixture.java
Labels: ✅ Test, Server

#865 refactor : 동아리 회원가입 승인 admin api 수정
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/Admin.java
  src/main/java/com/clubber/ClubberServer/domain/admin/domain/PendingAdminInfo.java
  src/main/java/com/clubber/ClubberServer/domain/admin/implement/AdminAppender.java
  src/main/java/com/clubber/ClubberServer/domain/admin/implement/AdminReader.java
  src/main/java/com/clubber/ClubberServer/domain/admin/implement/PendingAdminInfoManager.java
  src/main/java/com/clubber/ClubberServer/domain/admin/implement/PendingAdminInfoReader.java
  src/main/java/com/clubber/ClubberServer/domain/admin/mapper/PendingAdminMapper.java
  src/main/java/com/clubber/ClubberServer/domain/admin/service/AdminAccountService.java
  src/main/java/com/clubber/ClubberServer/domain/club/domain/Club.java
  src/main/java/com/clubber/ClubberServer/domain/owner/service/OwnerService.java
  src/test/java/com/clubber/ClubberServer/integration/domain/owner/service/OwnerServiceTest.java
  src/test/java/com/clubber/ClubberServer/integration/util/fixture/AdminFixture.java
Labels: 🐞 BugFix, 🔨 Refactor, Server

#866 fix : null일때 기본값 할당 (#864)
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/CreateAdminSignUpRequest.java
Labels: 🐞 BugFix
