Repository Clubber2024/Clubber-Server, pull requests merged in 2025-08, with the labels that each got.

#873 refactor : 관리자 모집글 상태 응답 추가 (#871)
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneAdminRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneRecruitWithClubResponse.java
Labels: 🔨 Refactor, Server

#876 refactor : calendar 연동된 Recruit 조회 쿼리 수행 (#875)
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarAdminController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarResponseWithLinkedStatus.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarAdminService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/implement/RecruitReader.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/repository/RecruitRepository.java
Labels: 🔨 Refactor, Server

#878 refactor : 캘린더 모집 기간 범위 수정
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarInListResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
Labels: 🔨 Refactor, Server

#884 feat : 관리자 캘린더 필터링 구현 (#883)
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarAdminController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarAdminService.java
Labels: ✨ Feature, Server

#888 fix : 상시모집의 경우 startAt, endAt null 허용되도록 변경
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/PostRecruitRequest.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/UpdateRecruitRequest.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitPeriodNotAllowedException.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/implement/RecruitValidator.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🐞 BugFix

#889 feat : 캘린더 단일 조회 (비로그인, createdAt 추가) (#887)
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
Labels: ✨ Feature, Server

#893 feat : 오늘 마감일자인 캘린더 조회
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetTodayCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
Labels: ✨ Feature, Server

#897 refactor : 캘린더 필터 기준 수정 반영
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarAdminController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarAdminService.java
Labels: 🔨 Refactor, Server

#903 feat : 특정 동아리 상시모집 복수일경우 no offset 팝업 페이지 구현 (#899)
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetNextAlwaysCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepository.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
Labels: ✨ Feature, Server

#908 refactor : 모집글 연동 끊기시 url 초기화 (#907)
  src/main/java/com/clubber/ClubberServer/domain/calendar/domain/Calendar.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/test/java/com/clubber/ClubberServer/integration/domain/recruit/service/RecruitLinkedCalendarServiceTest.java
Labels: 🔨 Refactor, Server

#910 refactor : recruit - calendar 도메인 로직 리팩토링
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarAdminController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/domain/Recruit.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitAlreadyCalendarUnlinkedException.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/exception/RecruitErrorCode.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/implement/RecruitAppender.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitLinkedCalendarService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitService.java
Labels: 🔨 Refactor, Server

#912 refactor : 연동 캘린더 저장시 Mapper 도입 (#911)
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarMapper.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/implement/CalendarReader.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/repository/CalendarCustomRepositoryImpl.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarAdminService.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/service/CalendarService.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/controller/RecruitLinkedCalendarController.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/CreateLinkedCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/service/RecruitLinkedCalendarService.java
  src/test/java/com/clubber/ClubberServer/integration/domain/recruit/service/RecruitLinkedCalendarServiceTest.java
Labels: 🔨 Refactor, Server

#916 chore : dto 누락된 validation swagger
  src/main/java/com/clubber/ClubberServer/domain/calendar/controller/CalendarAdminController.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/CreateCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarDuplicateRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetCalendarResponseWithLinkedStatus.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetNextAlwaysCalendarRequest.java
  src/main/java/com/clubber/ClubberServer/domain/calendar/dto/GetTodayCalendarResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneAdminRecruitResponse.java
  src/main/java/com/clubber/ClubberServer/domain/recruit/dto/GetOneRecruitWithClubResponse.java
Labels: Server

#929 fix : 동아리 소개글 글자수 제한 수정 (#928)
  src/main/java/com/clubber/ClubberServer/domain/admin/dto/UpdateClubPageRequest.java
Labels: 🐞 BugFix
